
* { padding: 0; margin: 0; }

body{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

canvas { background: #eee; display: block; margin: 0 auto; }

#myCanvas{
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
}

#myCanvas{
    background-image: url('../img/paisaje.jpg');
    background-position:center;
    background-size: cover;
}

h1{
    margin-top:10%;
    text-align:center;
    color: blanchedalmond;
}

#contador{
    font-size:35px;
    font-weight: 800;
    margin-left:49%;
    margin-top:3%;
}


